@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

$bg-primary: #eff1f5;
$bg-secondary: #f4f7ff;
$text-primary: #4c4f69;
$text-secondary: #8c8fa1;
$border-radius: 1rem;
$shadow: rgba(124, 127, 147, 0.3);
$default-ease: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

$token-bracket: #64a7ea;
$token-numeral: #169116;
$token-unaryop: #958409;
$token-binaryop: #de66de;

@mixin responsive {
	@media only screen and (min-width: 900px) {
		@content;
	}
}

@mixin text {
	font-size: 1rem;
	letter-spacing: 0.05rem;
	font-family: "Space Mono", monospace;
	color: $text-primary;

	@include responsive {
		font-size: 2.5rem;
		letter-spacing: 0.2rem;
	}
}

div#root {
	all: initial;
	display: flex;
	box-sizing: border-box;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 95vh;

	& input#input {
		all: initial;

		transform-origin: center center;
		width: 70%;
		height: 10%;
		overflow-x: auto;
		text-align: center;
		background-color: $bg-secondary;
		border-radius: $border-radius;
		transition: box-shadow $default-ease, transform $default-ease;

		&:hover:not(:focus) {
			box-shadow: 0 0 3rem 1rem $shadow;
			transform: scale(1.05);
		}
		&:focus {
			box-shadow: 0 0 2rem $shadow;
		}
		&::placeholder {
			color: $text-secondary;
		}

		@include text;
		@include responsive {
			height: 20%;
		}
	}

	& div#result {
		width: 90%;
		margin-top: 5%;
		overflow-x: auto;
		text-align: center;

		& p {
			display: inline;
			@include text;
		}
		& p.Bracket {
			color: $token-bracket;
		}
		& p.Numeral {
			color: $token-numeral;
		}
		& p.UnaryOp {
			color: $token-unaryop;
		}
		& p.BinaryOp {
			color: $token-binaryop;
		}

		&.error {
			text-align: center;
			width: 100rem;
			transform: scale(0.7);
		}
	}

	& p#notes {
		text-align: center;
		width: 100rem;
		transform: scale(0.5);
		@include text;
	}
}
